In [1]:
import pandas as pd
import numpy as np

In [83]:
cs_players = pd.read_clipboard()
cs_players

        Month  Year       Peak      Gain    %Gain    Average Avg%Gain
0         May  2025  1,722,301  -140,230    -7.5%  1,039,549    -1.1%
1       April  2025  1,862,531   +37,542    +2.1%  1,050,690    +0.5%
2       March  2025  1,824,989   +36,972    +2.1%  1,045,492    +4.2%
3    February  2025  1,788,017  +183,376   +11.4%  1,003,243    +9.6%
4     January  2025  1,604,641  -135,620    -7.8%    915,014    +0.1%
..        ...   ...        ...       ...      ...        ...      ...
156       May  2012      2,097      +198   +10.4%          -        -
157     April  2012      1,899      +636   +50.4%          -        -
158     March  2012      1,263    +1,059  +519.1%          -        -
159  February  2012        204      -476   -70.0%          -        -
160  November  2011        680         -        -          -        -

[161 rows x 7 columns]

In [85]:
cs_players=cs_players.drop(labels=["Average","Avg%Gain"], axis=1)
cs_players

        Month  Year       Peak      Gain    %Gain
0         May  2025  1,722,301  -140,230    -7.5%
1       April  2025  1,862,531   +37,542    +2.1%
2       March  2025  1,824,989   +36,972    +2.1%
3    February  2025  1,788,017  +183,376   +11.4%
4     January  2025  1,604,641  -135,620    -7.8%
..        ...   ...        ...       ...      ...
156       May  2012      2,097      +198   +10.4%
157     April  2012      1,899      +636   +50.4%
158     March  2012      1,263    +1,059  +519.1%
159  February  2012        204      -476   -70.0%
160  November  2011        680         -        -

[161 rows x 5 columns]

In [35]:
pubg_players = pd.read_clipboard()
pubg_players = pubg_players.drop(labels=["Average","Avg%Gain"], axis=1)
pubg_players

       Month  Year       Peak      Gain    %Gain
0        May  2025    808,146   -53,611    -6.2%
1      April  2025    861,757  -485,570   -36.0%
2      March  2025  1,347,327  +520,635   +63.0%
3   February  2025    826,692   +37,557    +4.8%
4    January  2025    789,135    -9,942    -1.2%
..       ...   ...        ...       ...      ...
95      June  2017    269,383   +77,810   +40.6%
96       May  2017    191,573   +53,095   +38.3%
97     April  2017    138,478   +72,740  +110.7%
98     March  2017     65,738   +65,737        ∞
99  February  2017          1         -        -

[100 rows x 5 columns]

In [37]:
mhw_players = pd.read_clipboard()
mhw_players = mhw_players.drop(labels=["Average","Avg%Gain"], axis=1)
mhw_players

        Month  Year    Peak     Gain   %Gain
0         May  2025  34,893     +342   +1.0%
1       April  2025  34,551  -16,592  -32.4%
2       March  2025  51,143  -13,090  -20.4%
3    February  2025  64,233   +8,188  +14.6%
4     January  2025  56,045  -27,630  -33.0%
..        ...   ...     ...      ...     ...
84   December  2017       7       -3  -30.0%
85   November  2017      10       +1  +11.1%
86    October  2017       9        0   +0.0%
87  September  2017       9       +3  +50.0%
88     August  2017       6        -       -

[89 rows x 5 columns]

In [41]:
c2077_players = pd.read_clipboard()
c2077_players = c2077_players.drop(labels=["Average","Avg%Gain"], axis=1)
c2077_players

        Month  Year       Peak      Gain    %Gain
0         May  2025     58,410   +12,005   +25.9%
1       April  2025     46,405   -15,499   -25.0%
2       March  2025     61,904    -4,625    -7.0%
3    February  2025     66,529    -5,602    -7.8%
4     January  2025     72,131      +441    +0.6%
5    December  2024     71,690   +16,507   +29.9%
6    November  2024     55,183    +4,384    +8.6%
7     October  2024     50,799    -6,809   -11.8%
8   September  2024     57,608    +9,270   +19.2%
9      August  2024     48,338    +5,259   +12.2%
10       July  2024     43,079    +2,240    +5.5%
11       June  2024     40,839    -2,321    -5.4%
12        May  2024     43,160   -10,847   -20.1%
13      April  2024     54,007    +5,005   +10.2%
14      March  2024     49,002    -5,858   -10.7%
15   February  2024     54,860   -17,993   -24.7%
16    January  2024     72,853   -16,245   -18.2%
17   December  2023     89,098    +7,650    +9.4%
18   November  2023     81,448  -193,078   -70.3%
19    October  2023    274,526   +15,243    +5.9%
20  September  2023    259,283  +227,105  +705.8%
21     August  2023     32,178      +222    +0.7%
22       July  2023     31,956    +1,003    +3.2%
23       June  2023     30,953    +8,519   +38.0%
24        May  2023     22,434    -9,012   -28.7%
25      April  2023     31,446    +5,073   +19.2%
26      March  2023     26,373    -2,851    -9.8%
27   February  2023     29,224   -14,562   -33.3%
28    January  2023     43,786    -1,848    -4.0%
29   December  2022     45,634   -11,664   -20.4%
30   November  2022     57,298   -61,000   -51.6%
31    October  2022    118,298   -18,426   -13.5%
32  September  2022    136,724  +117,889  +625.9%
33     August  2022     18,835      -742    -3.8%
34       July  2022     19,577      +956    +5.1%
35       June  2022     18,621    -5,481   -22.7%
36        May  2022     24,102      +921    +4.0%
37      April  2022     23,181   -11,928   -34.0%
38      March  2022     35,109   -23,952   -40.6%
39   February  2022     59,061   +31,430  +113.7%
40    January  2022     27,631    -2,673    -8.8%
41   December  2021     30,304    +1,300    +4.5%
42   November  2021     29,004   +12,754   +78.5%
43    October  2021     16,250    -3,522   -17.8%
44  September  2021     19,772    -1,771    -8.2%
45     August  2021     21,543    +4,397   +25.6%
46       July  2021     17,146    +1,443    +9.2%
47       June  2021     15,703    -2,205   -12.3%
48        May  2021     17,908    -7,522   -29.6%
49      April  2021     25,430    +2,465   +10.7%
50      March  2021     22,965   -24,307   -51.4%
51   February  2021     47,272  -178,691   -79.1%
52    January  2021    225,963  -828,425   -78.6%
53   December  2020  1,054,388         -        -

In [51]:
er_players = pd.read_clipboard()
er_players = er_players.drop(labels=["Average","Avg%Gain"], axis=1)
er_players

        Month  Year     Peak      Gain    %Gain
0         May  2025   56,510    -6,316   -10.1%
1       April  2025   62,826   -12,713   -16.8%
2       March  2025   75,539    +5,831    +8.4%
3    February  2025   69,708   -14,211   -16.9%
4     January  2025   83,919    +4,057    +5.1%
5    December  2024   79,862   +33,042   +70.6%
6    November  2024   46,820   -14,767   -24.0%
7     October  2024   61,587   -13,459   -17.9%
8   September  2024   75,046   -87,396   -53.8%
9      August  2024  162,442  -269,007   -62.3%
10       July  2024  431,449  -349,812   -44.8%
11       June  2024  781,261  +698,512  +844.1%
12        May  2024   82,749    +5,086    +6.5%
13      April  2024   77,663   -34,743   -30.9%
14      March  2024  112,406    +3,770    +3.5%
15   February  2024  108,636    +9,588    +9.7%
16    January  2024   99,048   +10,617   +12.0%
17   December  2023   88,431   +36,682   +70.9%
18   November  2023   51,749   -15,879   -23.5%
19    October  2023   67,628   +30,124   +80.3%
20  September  2023   37,504    -8,714   -18.9%
21     August  2023   46,218   -10,651   -18.7%
22       July  2023   56,869   +22,168   +63.9%
23       June  2023   34,701    -9,145   -20.9%
24        May  2023   43,846   -15,599   -26.2%
25      April  2023   59,445   -15,295   -20.5%
26      March  2023   74,740    -7,433    -9.0%
27   February  2023   82,173   -24,740   -23.1%
28    January  2023  106,913   +21,262   +24.8%
29   December  2022   85,651   +49,306  +135.7%
30   November  2022   36,345    -3,485    -8.7%
31    October  2022   39,830    -5,645   -12.4%
32  September  2022   45,475    -1,922    -4.1%
33     August  2022   47,397    -5,008    -9.6%
34       July  2022   52,405   -36,204   -40.9%
35       June  2022   88,609  -104,859   -54.2%
36        May  2022  193,468  -263,714   -57.7%
37      April  2022  457,182  -496,244   -52.0%
38      March  2022  953,426   +61,788    +6.9%
39   February  2022  891,638         -        -

In [53]:
bg3_players = pd.read_clipboard()
bg3_players = bg3_players.drop(labels=["Average","Avg%Gain"], axis=1)
bg3_players

        Month  Year     Peak      Gain      %Gain
0         May  2025  142,178   -27,089     -16.0%
1       April  2025  169,267   +77,026     +83.5%
2       March  2025   92,241   -17,379     -15.9%
3    February  2025  109,620   -13,301     -10.8%
4     January  2025  122,921   +11,518     +10.3%
5    December  2024  111,403    +3,745      +3.5%
6    November  2024  107,658   -12,800     -10.6%
7     October  2024  120,458   -16,913     -12.3%
8   September  2024  137,371   +17,596     +14.7%
9      August  2024  119,775    +4,425      +3.8%
10       July  2024  115,350   +11,583     +11.2%
11       June  2024  103,767    -4,986      -4.6%
12        May  2024  108,753   -16,732     -13.3%
13      April  2024  125,485   -31,991     -20.3%
14      March  2024  157,476   -43,462     -21.6%
15   February  2024  200,938   -96,554     -32.5%
16    January  2024  297,492   +38,721     +15.0%
17   December  2023  258,771   +55,742     +27.5%
18   November  2023  203,029  -129,981     -39.0%
19    October  2023  333,010  -251,875     -43.1%
20  September  2023  584,885  -290,458     -33.2%
21     August  2023  875,343  +842,895  +2,597.7%
22       July  2023   32,448   +28,118    +649.4%
23       June  2023    4,330      +705     +19.4%
24        May  2023    3,625    -1,131     -23.8%
25      April  2023    4,756      -362      -7.1%
26      March  2023    5,118      +436      +9.3%
27   February  2023    4,682    -2,544     -35.2%
28    January  2023    7,226    -3,758     -34.2%
29   December  2022   10,984    +8,813    +405.9%
30   November  2022    2,171      -324     -13.0%
31    October  2022    2,495      -173      -6.5%
32  September  2022    2,668    -1,213     -31.3%
33     August  2022    3,881    -3,780     -49.3%
34       July  2022    7,661    +5,624    +276.1%
35       June  2022    2,037        -1      -0.0%
36        May  2022    2,038      -249     -10.9%
37      April  2022    2,287      -629     -21.6%
38      March  2022    2,916    -2,929     -50.1%
39   February  2022    5,845    +2,720     +87.0%
40    January  2022    3,125      +322     +11.5%
41   December  2021    2,803    -1,872     -40.0%
42   November  2021    4,675    -7,279     -60.9%
43    October  2021   11,954    +8,732    +271.0%
44  September  2021    3,222      -672     -17.3%
45     August  2021    3,894    -3,114     -44.4%
46       July  2021    7,008    +4,584    +189.1%
47       June  2021    2,424      -557     -18.7%
48        May  2021    2,981      -809     -21.3%
49      April  2021    3,790    -5,121     -57.5%
50      March  2021    8,911    -1,986     -18.2%
51   February  2021   10,897    +6,730    +161.5%
52    January  2021    4,167    -2,700     -39.3%
53   December  2020    6,867    -8,484     -55.3%
54   November  2020   15,351   -58,629     -79.2%
55    October  2020   73,980         -          -

In [55]:
des2_players = pd.read_clipboard()
des2_players = des2_players.drop(labels=["Average","Avg%Gain"], axis=1)
des2_players

       Month  Year     Peak     Gain    %Gain
0        May  2025   60,035   +9,783   +19.5%
1      April  2025   50,252  -17,831   -26.2%
2      March  2025   68,083   -9,316   -12.0%
3   February  2025   77,399  +40,789  +111.4%
4    January  2025   36,610     -396    -1.1%
..       ...   ...      ...      ...      ...
63  February  2020   93,069  -15,753   -14.5%
64   January  2020  108,822  -29,780   -21.5%
65  December  2019  138,602  -57,750   -29.4%
66  November  2019  196,352  -96,161   -32.9%
67   October  2019  292,513        -        -

[68 rows x 5 columns]

In [57]:
apex_players = pd.read_clipboard()
apex_players = apex_players.drop(labels=["Average","Avg%Gain"], axis=1)
apex_players

        Month  Year     Peak      Gain   %Gain
0         May  2025  264,117   +64,572  +32.4%
1       April  2025  199,545   +13,566   +7.3%
2       March  2025  185,979   -40,246  -17.8%
3    February  2025  226,225   +72,492  +47.2%
4     January  2025  153,733   -21,903  -12.5%
5    December  2024  175,636   -50,305  -22.3%
6    November  2024  225,941   +40,450  +21.8%
7     October  2024  185,491   -63,843  -25.6%
8   September  2024  249,334   -65,360  -20.8%
9      August  2024  314,694   +49,000  +18.4%
10       July  2024  265,694   -63,969  -19.4%
11       June  2024  329,663   -98,727  -23.0%
12        May  2024  428,390    -2,410   -0.6%
13      April  2024  430,800   -34,466   -7.4%
14      March  2024  465,266    -5,430   -1.2%
15   February  2024  470,696  +124,978  +36.2%
16    January  2024  345,718    -3,511   -1.0%
17   December  2023  349,229   -90,615  -20.6%
18   November  2023  439,844    +4,615   +1.1%
19    October  2023  435,229   -18,922   -4.2%
20  September  2023  454,151    +2,145   +0.5%
21     August  2023  452,006  +100,841  +28.7%
22       July  2023  351,165  -101,451  -22.4%
23       June  2023  452,616  -133,342  -22.8%
24        May  2023  585,958   +20,873   +3.7%
25      April  2023  565,085   -40,086   -6.6%
26      March  2023  605,171   -19,302   -3.1%
27   February  2023  624,473  +210,577  +50.9%
28    January  2023  413,896      +935   +0.2%
29   December  2022  412,961    +7,233   +1.8%
30   November  2022  405,728   +17,980   +4.6%
31    October  2022  387,748  -111,329  -22.3%
32  September  2022  499,077   -12,599   -2.5%
33     August  2022  511,676  +163,261  +46.9%
34       July  2022  348,415    -4,864   -1.4%
35       June  2022  353,279   -59,277  -14.4%
36        May  2022  412,556   +36,228   +9.6%
37      April  2022  376,328   +21,377   +6.0%
38      March  2022  354,951   -38,165   -9.7%
39   February  2022  393,116  +127,914  +48.2%
40    January  2022  265,202   +19,413   +7.9%
41   December  2021  245,789   -72,541  -22.8%
42   November  2021  318,330   +66,195  +26.3%
43    October  2021  252,135   -23,482   -8.5%
44  September  2021  275,617   -54,892  -16.6%
45     August  2021  330,509   +67,974  +25.9%
46       July  2021  262,535    -4,074   -1.5%
47       June  2021  266,609   -64,270  -19.4%
48        May  2021  330,879  +110,342  +50.0%
49      April  2021  220,537    -8,411   -3.7%
50      March  2021  228,948   +30,713  +15.5%
51   February  2021  198,235   +67,745  +51.9%
52    January  2021  130,490   +17,108  +15.1%
53   December  2020  113,382    -3,938   -3.4%
54   November  2020  117,320         -       -

In [61]:
terr_players = pd.read_clipboard()
terr_players = terr_players.drop(labels=["Average","Avg%Gain"], axis=1)
terr_players

         Month  Year    Peak     Gain   %Gain
0          May  2025  49,423   -2,440   -4.7%
1        April  2025  51,863   -1,274   -2.4%
2        March  2025  53,137  +11,874  +28.8%
3     February  2025  41,263   -8,257  -16.7%
4      January  2025  49,520  -12,889  -20.7%
..         ...   ...     ...      ...     ...
164  September  2011  10,616  -14,593  -57.9%
165     August  2011  25,209     -808   -3.1%
166       July  2011  26,017     +966   +3.9%
167       June  2011  25,051  -13,676  -35.3%
168        May  2011  38,727        -       -

[169 rows x 5 columns]

In [133]:
dota_players = pd.read_clipboard()
dota_players = dota_players.drop(labels=["Average","Avg%Gain"], axis=1)
dota_players

         Month  Year     Peak     Gain      %Gain
0          May  2025  664,357  +27,912      +4.4%
1        April  2025  636,445  -21,335      -3.2%
2        March  2025  657,780  -51,168      -7.2%
3     February  2025  708,948  -15,605      -2.2%
4      January  2025  724,553  -19,743      -2.7%
..         ...   ...      ...      ...        ...
160    January  2012   23,539   +3,383     +16.8%
161   December  2011   20,156   +7,771     +62.7%
162   November  2011   12,385  +11,798  +2,009.9%
163    October  2011      587     +275     +88.1%
164  September  2011      312        -          -

[165 rows x 5 columns]

In [99]:
cs_players["Date"] = cs_players["Month"]+'-'+cs_players["Year"].astype(str)
cs_players = cs_players.drop(labels=["Month", "Year"], axis=1)
cs_players

          Peak      Gain    %Gain           Date
0    1,722,301  -140,230    -7.5%       May-2025
1    1,862,531   +37,542    +2.1%     April-2025
2    1,824,989   +36,972    +2.1%     March-2025
3    1,788,017  +183,376   +11.4%  February-2025
4    1,604,641  -135,620    -7.8%   January-2025
..         ...       ...      ...            ...
156      2,097      +198   +10.4%       May-2012
157      1,899      +636   +50.4%     April-2012
158      1,263    +1,059  +519.1%     March-2012
159        204      -476   -70.0%  February-2012
160        680         -        -  November-2011

[161 rows x 4 columns]

In [105]:
cs_players["Date"] = pd.to_datetime(cs_players["Date"], format="%B-%Y")
cs_players = cs_players.set_index("Date")
cs_players

                 Peak      Gain    %Gain
Date
2025-05-01  1,722,301  -140,230    -7.5%
2025-04-01  1,862,531   +37,542    +2.1%
2025-03-01  1,824,989   +36,972    +2.1%
2025-02-01  1,788,017  +183,376   +11.4%
2025-01-01  1,604,641  -135,620    -7.8%
...               ...       ...      ...
2012-05-01      2,097      +198   +10.4%
2012-04-01      1,899      +636   +50.4%
2012-03-01      1,263    +1,059  +519.1%
2012-02-01        204      -476   -70.0%
2011-11-01        680         -        -

[161 rows x 3 columns]

In [107]:
pubg_players["Date"] = pubg_players["Month"]+'-'+pubg_players["Year"].astype(str)
pubg_players = pubg_players.drop(labels=["Month", "Year"], axis=1)
pubg_players["Date"] = pd.to_datetime(pubg_players["Date"], format="%B-%Y")
pubg_players = pubg_players.set_index("Date")
pubg_players.head(5)

                 Peak      Gain   %Gain
Date
2025-05-01    808,146   -53,611   -6.2%
2025-04-01    861,757  -485,570  -36.0%
2025-03-01  1,347,327  +520,635  +63.0%
2025-02-01    826,692   +37,557   +4.8%
2025-01-01    789,135    -9,942   -1.2%

In [109]:
mhw_players["Date"] = mhw_players["Month"]+'-'+mhw_players["Year"].astype(str)
mhw_players = mhw_players.drop(labels=["Month", "Year"], axis=1)
mhw_players["Date"] = pd.to_datetime(mhw_players["Date"], format="%B-%Y")
mhw_players = mhw_players.set_index("Date")
mhw_players.head(5)

              Peak     Gain   %Gain
Date
2025-05-01  34,893     +342   +1.0%
2025-04-01  34,551  -16,592  -32.4%
2025-03-01  51,143  -13,090  -20.4%
2025-02-01  64,233   +8,188  +14.6%
2025-01-01  56,045  -27,630  -33.0%

In [111]:
c2077_players["Date"] = c2077_players["Month"]+'-'+c2077_players["Year"].astype(str)
c2077_players = c2077_players.drop(labels=["Month", "Year"], axis=1)
c2077_players["Date"] = pd.to_datetime(c2077_players["Date"], format="%B-%Y")
c2077_players = c2077_players.set_index("Date")
c2077_players.head(5)

              Peak     Gain   %Gain
Date
2025-05-01  58,410  +12,005  +25.9%
2025-04-01  46,405  -15,499  -25.0%
2025-03-01  61,904   -4,625   -7.0%
2025-02-01  66,529   -5,602   -7.8%
2025-01-01  72,131     +441   +0.6%

In [113]:
er_players["Date"] = er_players["Month"]+'-'+er_players["Year"].astype(str)
er_players = er_players.drop(labels=["Month", "Year"], axis=1)
er_players["Date"] = pd.to_datetime(er_players["Date"], format="%B-%Y")
er_players = er_players.set_index("Date")
er_players.head(5)

              Peak     Gain   %Gain
Date
2025-05-01  56,510   -6,316  -10.1%
2025-04-01  62,826  -12,713  -16.8%
2025-03-01  75,539   +5,831   +8.4%
2025-02-01  69,708  -14,211  -16.9%
2025-01-01  83,919   +4,057   +5.1%

In [115]:
bg3_players["Date"] = bg3_players["Month"]+'-'+bg3_players["Year"].astype(str)
bg3_players = bg3_players.drop(labels=["Month", "Year"], axis=1)
bg3_players["Date"] = pd.to_datetime(bg3_players["Date"], format="%B-%Y")
bg3_players = bg3_players.set_index("Date")
bg3_players.head(5)

               Peak     Gain   %Gain
Date
2025-05-01  142,178  -27,089  -16.0%
2025-04-01  169,267  +77,026  +83.5%
2025-03-01   92,241  -17,379  -15.9%
2025-02-01  109,620  -13,301  -10.8%
2025-01-01  122,921  +11,518  +10.3%

In [117]:
des2_players["Date"] = des2_players["Month"]+'-'+des2_players["Year"].astype(str)
des2_players = des2_players.drop(labels=["Month", "Year"], axis=1)
des2_players["Date"] = pd.to_datetime(des2_players["Date"], format="%B-%Y")
des2_players = des2_players.set_index("Date")
des2_players.head(5)

              Peak     Gain    %Gain
Date
2025-05-01  60,035   +9,783   +19.5%
2025-04-01  50,252  -17,831   -26.2%
2025-03-01  68,083   -9,316   -12.0%
2025-02-01  77,399  +40,789  +111.4%
2025-01-01  36,610     -396    -1.1%

In [119]:
apex_players["Date"] = apex_players["Month"]+'-'+apex_players["Year"].astype(str)
apex_players = apex_players.drop(labels=["Month", "Year"], axis=1)
apex_players["Date"] = pd.to_datetime(apex_players["Date"], format="%B-%Y")
apex_players =apex_players.set_index("Date")
apex_players.head(5)

               Peak     Gain   %Gain
Date
2025-05-01  264,117  +64,572  +32.4%
2025-04-01  199,545  +13,566   +7.3%
2025-03-01  185,979  -40,246  -17.8%
2025-02-01  226,225  +72,492  +47.2%
2025-01-01  153,733  -21,903  -12.5%

In [121]:
terr_players["Date"] = terr_players["Month"]+'-'+terr_players["Year"].astype(str)
terr_players = terr_players.drop(labels=["Month", "Year"], axis=1)
terr_players["Date"] = pd.to_datetime(terr_players["Date"], format="%B-%Y")
terr_players = terr_players.set_index("Date")
terr_players.head(5)

              Peak     Gain   %Gain
Date
2025-05-01  49,423   -2,440   -4.7%
2025-04-01  51,863   -1,274   -2.4%
2025-03-01  53,137  +11,874  +28.8%
2025-02-01  41,263   -8,257  -16.7%
2025-01-01  49,520  -12,889  -20.7%

In [135]:
dota_players["Date"] = dota_players["Month"]+'-'+dota_players["Year"].astype(str)
dota_players = dota_players.drop(labels=["Month", "Year"], axis=1)
dota_players["Date"] = pd.to_datetime(dota_players["Date"], format="%B-%Y")
dota_players = dota_players.set_index("Date")
dota_players.head(5)

               Peak     Gain  %Gain
Date
2025-05-01  664,357  +27,912  +4.4%
2025-04-01  636,445  -21,335  -3.2%
2025-03-01  657,780  -51,168  -7.2%
2025-02-01  708,948  -15,605  -2.2%
2025-01-01  724,553  -19,743  -2.7%

In [141]:
cs_players.to_csv("CSGO_players.csv")
pubg_players.to_csv("PUBG_players.csv")
mhw_players.to_csv("MonsterHunterWorld_players.csv")
c2077_players.to_csv("Cyberpunk2077_players.csv")
bg3_players.to_csv("Baldur'sGate3_players.csv")
des2_players.to_csv("Destiny2_players.csv")
terr_players.to_csv("Terraria_players.csv")
apex_players.to_csv("ApexLegends_players.csv")
er_players.to_csv("EldenRing_players.csv")
dota_players.to_csv("Dota2_players.csv")